@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Projeto Transferência bancária</h1>
    <a href="https://docs.microsoft.com/aspnet/core">Aplicação Web desenvolvida em ASP .NET Core (MVC)</a>.
</div>
