@model Bank.Transfers.ViewModel.DepositarViewModel
@{
    ViewData["Title"] = "Depositar";
}

<h1>Depositar</h1>

<h4>Conta</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Depositar">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdConta" />
            <div class="form-group">
                <label class="control-label">Valor depósito</label>
                <input asp-for="ValorDeposito" class="form-control" />
            </div>
            <div class="form-group">
                <input type="submit" value="Depositar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Voltar</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
