@model Bank.Transfers.ViewModel.SacarViewModel
@{
    ViewData["Title"] = "Sacar";
}

<h1>Sacar</h1>

<h4>Conta</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Sacar">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdConta" />
            <div class="form-group">
                <label class="control-label">Valor saque</label>
                <input asp-for="ValorSaque" class="form-control" />
            </div>
            <div class="form-group">
                <input type="submit" value="Sacar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Voltar</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
